<footer class="bg-dark pt-4 mt-auto container-fluid">

    <div class="row border-bottom border-white pb-4 mb-2">

        <div class="col-md-7  px-4 mt-2">

            <h2 class="h4"><a href="{{ '/' | relative_url }}" class="text-white font-weight-normal">{{ site.title }}: {{ site.tagline }}</a></h2>
            <p class="text-white"><small>{{ site.description }}</small></p>
            <nav>
                <ul id="footer-nav" class="nav nav-pills ">
                    {%- assign navItems = site.data.config-nav | where_exp: 'item', 'item.dropdown_parent == nil' -%}
                    {% for nav in navItems %}
                    <li class="nav-item">
                    {% if nav.stub %}
                        <a class="nav-link text-light{% if page.url == nav.stub %} active{% endif %}" href="{{ nav.stub | relative_url }}">{{ nav.display_name }}</a>
                    {%- else -%}
                    {% assign childStub = site.data.config-nav | where_exp: 'item', 'item.dropdown_parent == nav.display_name' | first %}
                        <a class="nav-link text-light{% if page.url == childStub.stub %} active{% endif %}" href="{{ childStub.stub | relative_url }}">{{ nav.display_name }}</a>
                    {% endif %}
                    </li>
                    {%- endfor -%}
                </ul>
            </nav>

        </div>

        <div class="col-md-5 mt-2 text-end">

            <p class="text-end">
                <a href="https://www.theconfluencelab.org/" target="_blank" rel="noopener">
                    <img class="img-fluid footer-logo" src="{{ '/assets/img/confl-lab-logo-rev-white.png' | relative_url }}" title="The Confluence Lab" alt="Confluence home">
                </a>
            </p>
            <p class="text-end">
                <a href="https://cdil.lib.uidaho.edu/" target="_blank" rel="noopener">
                    <img class="img-fluid footer-logo" src="https://cdil.lib.uidaho.edu/assets/img/logo.png" title="Center for Digital Inquiry and Learning (CDIL)" alt="CDIL home">
                </a>
            </p>
            
            <p class="text-white" >
                <small><em>built with</em>
                    <a href="https://collectionbuilder.github.io/" target="_blank" rel="noopener" title="CollectionBuilder">
                        <img src="{{ '/assets/img/collectionbuilder-logo.png' | relative_url }}" class="img-fluid footer-logo" alt="CollectionBuilder logo" >
                    </a>
                </small>
            </p>

        </div>

    </div>

    <div class="col-md-12 text-center pt-3 pb-1">
        <p class="text-white">{{ site.publication_date }}</p>
    </div>

</footer>