/* 
    Put your custom SCSS here! 
    This allows you to override any CollectionBuilder or Bootstrap CSS without modifying the base theme files directly.
*/

// off canvas nav
.sidebar-nav-image { max-height: 2.25rem; }
// footer
.footer-logo { height: 2rem; }

// body font
body { 
    font-family: 'Noto Sans', sans-serif;
    font-weight: 300;
}

// fancy font
.display-1, .display-2, .display-3, .display-4, .display-5, .display-6 {
    font-family: 'Rubik Dirt', cursive;
}

// essay styles
.essay-title {
    margin-top: 8rem;
    margin-bottom: 2rem;
}
@include media-query($on-desktop) {
    .essay-title {
        margin-left: 5rem;
    }
}
.next-buttons {
    margin-top: 3rem;
    margin-bottom: 10rem;
}
