{% comment %}
    Gallery, a bootstrap grid of images
    Options:
    - "filter" = logic statement (in liquid) that filters out most of the collection to display a only select items. 
    - "header" = card header text (in bar above card content)
    - "title" = card title text inside card content area
    - "objectid" = the given object (photo or youtube) will create a card cap image
    - "width" will use Bootstrap sizing to set the % size, choose from "25", "50", "75", or "100"
    - "float" will use Bootstrap float utility to add float, choose from "left" or "right"
{%- endcomment -%}
{%- assign items = site.data[site.metadata] | where_exp: 'item','item.format contains "image" or item.format contains "video"' -%}
{% if include.filter %}{%- assign items = items | where_exp: 'item',include.filter -%}{% endif %}
<div class="row my-5 py-5">
    {% for item in items limit:{{ include.limit | default: 30 }} %}
    <div class="col-5 col-md-2 m-1"><div class="d-none d-md-block"><a href="{{ '/mapitem.html' | relative_url | append: '?id=' | append: item.objectid }}"><img alt="{{ item.description | escape }}" src="{{ item.image_thumb }}" alt="{{ item.title | escape }}" data-toggle="tooltip" data-placement="bottom" title="{{ item.title | escape }}" /></a></div><div class="d-md-none"><a class="small"  href="{{ '/mapitem.html' | relative_url | append: '?id=' | append: item.objectid }}"><img alt="{{ item.description | escape }}" class="img-fluid" src="{{ item.image_thumb }}" alt="{{ item.title | escape }}" title="{{ item.title | escape }}" />{{ item.title | truncatewords: 2}}</a></div></div>
    {% endfor %}
</div>

