{% comment %}
    Margin Note, a note that appears in the margin next to the location of the note.
    Options:
    - "text" = text for the margin note -- this can be written in HTML to add links, etc. 
    - "id" = a unique id (short phrase is best) to connect the location and note
    - "text-link" = [optional] link for the entire note; you can also add links to certain words via writing the text in HTML
    - "color" = [optional] a Bootstrap color (primary, secondary, success, danger, warning, info, light, dark)
{%- endcomment -%}
<label for="{{include.id}}" class="margin-toggle">&#8853;</label><input type="checkbox" id="{{include.id}}" class="margin-toggle"><span class="marginnote {% if include.color %}text-{{ include.color }}{% endif %}">{% if include.text-link %}<a href="{{include.text-link }}" target="_blank">{{include.text}}</a>{% else %}{{include.text}}{% endif %}</span>
