---
layout: default
---

<div class="container mt-5">
    <h1 class="display-2">{{ page.title }}</h1>

    <div class="tufte-content">

        <article class="pt-0">   
            <section>
            {{ content }}
            </section>
        </article>
    </div>

    <div class="text-center next-buttons">
    <!--
        {% if page.previous %}<a class="" href="{{ page.previous.url | relative_url }}">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi icon-sprite" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>
        </svg>
        {{ page.previous.title }}</a>{% endif %}
    -->
        {% if page.next %}<a class="display-5 text-dark" href="{{ page.next.url | relative_url }}">{{ page.next.title }} &raquo;
            <!--
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi icon-sprite" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
            </svg>-->
        </a>{% endif %}
    </div>
</div>

