---
layout: default
---
<style>
    body {
        background-image: url('{{ site.data.featured_item.src | relative_url }}');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: {{ site.data.theme.home-banner-image-position | default: 'center' }};
    }
</style>
<div id="home-banner" class="container mt-3 mb-5">
    <div id="home-title-box" class="row" >
        <div class="col-md-5">
            <div id="title-box" class="m-5 py-3 px-5 text-white bg-dark bg-opacity-75 rounded">
                <h1 class="display-1"><em>{{ site.title }}</em></h1>
                {% if site.tagline %}<p class="mb-0">{{ site.tagline }}</p>{% endif %}
            </div>
        </div>
    </div>
    <div class="row justify-content-end">
        <div class="col-md-5">
            <div id="toc-box" class="m-5 py-3 px-5 text-white bg-dark bg-opacity-75 rounded">
                {% assign essays = site.pages | where: 'layout', 'essay' %}
                <ul class="list-unstyled">
                {% for e in essays %}
                <li><a class="text-white" href="{{ e.url | relative_url }}">{{ e.title }}</a></li>
                {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>