---
layout: default
---
<style>
    body {
        background-image: url('{{ site.data.featured_item.src | relative_url }}');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: {{ site.data.theme.home-banner-image-position | default: 'center' }};
    }
</style>
<div id="home-banner" class="container-fluid mt-3 mb-5">
    <div id="home-title-box" class="row" >
        <div class="col-md-5">
            <div id="title-box" class="m-5 py-3 px-5 text-white bg-dark bg-opacity-75 rounded">
                <h1 class="display-2">{{ site.title }}</h1>
                {% if site.tagline %}<p class="mb-0">{{ site.tagline }}</p>{% endif %}
            </div>
        </div>
    </div>
    <div class="row justify-content-end mt-5">
        <div class="col-md-4">
            <div id="toc-box" class="m-5 py-3 px-5 text-white bg-dark bg-opacity-75 rounded">

                <a href="{{ '/00_firelines2.html' | relative_url }}" class="display-6 fs-2 text-white">Read the Essay &raquo;</a>
                
            </div> 
        </div>
    </div>
</div>